---
layout: default
content-type: preview
---

<div class="outer">

  <p class="intro">
    A product designer who helps build web and native applications for a variety of clients.
  </p>

  <div class="home">

    <ul class="featuredProject-list">
      {% for post in site.categories.portfolio %}
      <li class="featured-listItem" data-client="{{post.client-short-name}}">
        <a href="{{ post.url }}">
          <figure>
            {% include logo-{{ post.client-short-name }}.svg %}
          </figure>
          <h4 class="featured__link">{{ post.client }}</h4>
          <p>{{ post.short-desc }}</p>
        </a>
      </li>

      {% endfor %}

    </ul>

  </div>

</div>